<!-- Top -->
<% include topsearch.html %>
<div class="nav">
    <div class=" grid">
        <ul class="navul fn-left">
            <li <%if(typeof(category)=="undefined"){%> class="active" <%}%> ><a href="/">想减肥首页</a></li>
            <% for(var i=1; i<settings.static.category.length;i++){%>
                <li <%if(typeof(category)!="undefined"&&category == i){%> class="active" <%}%>><a href="/cate/<%= i%>"><%= settings.static.category[i]%></a></li>
            <%}%>
            <li <%if(typeof(category)!="undefined"&&category == 99){%> class="active" <%}%>><a href="/pins">精美图库</a></li>
        </ul>
    </div>
</div>
<!-- Top End -->
