<div class="topbar">
    <div class="grid">
        <div class="fn-left">
            <label>您好，欢迎来到减肥瘦身中心！</label>
        </div>
        <div class="fn-right">
            <ul class="quicklink">
                <li><a href="#">登陆</a> / <a href="#">注册</a></li>
                <li><a href="#">帮助中心</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="header">
    <div class="grid">
        <div class="logo fn-left">
            <a href="/">
                <img src="../static/images/logo3.jpg" />
            </a>
        </div>
        <div class="search fn-left">
            <form action="/search" method="get">
                <input type="text" name="key" placeholder="瘦身" value="<%= typeof(key)=="undefined"||key=="undefined"?"":key%>" class="search-txt" />
                <input type="submit" class="search-btn" value="" />
                <div class="search-tip">
                    <a href="/key_美腿">美腿</a>
                    <a href="/key_丰胸">丰胸</a>
                    <a href="/key_减肥">减肥</a>
                    <a href="/key_跑步">跑步</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="nav">
    <div class=" grid">
        <ul class="navul fn-left">
            <li <%if(typeof(category)=="undefined"){%> class="active" <%}%> ><a href="/">想减肥首页</a></li>
            <% for(var i=1; i<settings.static.category.length;i++){%>
                <li <%if(typeof(category)!="undefined"&&category == i){%> class="active" <%}%>><a href="/cate/<%= i%>"><%= settings.static.category[i]%></a></li>
            <%}%>
            <li><a href="/pins">精美图库</a></li>
        </ul>
    </div>
</div>
