<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>想减肥_中国最专业的减肥瘦身网站</title>
    <link href="http://resource.pipikou.com/b/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin.css" rel="stylesheet" />
    <script type="text/javascript" src="http://resource.pipikou.com/b/js/jquery/jquery.js"></script>
    <style>
        .firstcontent{ padding-top:15px;}
    </style>
</head>
<body>
<% include ../module/topbar.html %>
<% var fnav = 'post' %>
<% include ../module/header.html %>

<div class="grid main fn-clear">
    <% var snav = 'get' %>
    <% include ../module/leftside.html %>
    <div class="maincon">
        <h3 class="toptitle">拉取文章</h3>
        <form id="J_form">
        <div class="formbox">
            
            
            <div class="formcolumn">
                <label class="formlab">
                    URL：
                </label>
                <input class="txt" style="width:550px;" type="text" name="url" />
            </div>
            
            <div class="formcolumn">
                <label class="formlab">
                    分类：
                </label>
                <select class="txt" name="category">
                    <% for(var i=0; i<settings.static.category.length;i++){%>
                    <option value="<%= i%>"><%= settings.static.category[i]%></option>
                    <%}%>
                </select>
                <label class="formlab">
                    标签：
                </label>
                <input class="txt" type="text" name="tags" style="width:250px;" />
            </div>
            <div class="formcolumn">
                <label class="formlab">
                    描述：
                </label>
                <textarea class="desc" name="desc">

                </textarea>
                
            </div>
            
            
            <div class="formcolumn">
                <label class="formlab">
                    &nbsp;
                </label>
                <input type="button" id="J_submit" value="提交" class="btn" />
            </div>
        </div>
        </form>
    </div>

</div>
<!-- 配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>
<% include ../module/footer.html %>
<script type="text/javascript">
    $(function () {
        $("#J_submit").bind("click", function () {
            var d = $("#J_form").serialize();
            $.ajax({
                type: "POST",
                data: d,
                datatype: "json",
                url: "/admin/post/get",
                success: function (data) {
                    if (data.res == 1) {
                        alert("拉取成功!");
                    } else {
                        alert("拉取失败！错误代码：" + data.msg);
                        return false;
                    }
                }
            });
        });
    });
</script>
</body>
</html>
