<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<meta property="qc:admins" content="2454350117601167266375" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<span id="qqLoginBtn">22222</span>
	<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101017654" data-redirecturi="http://www.xiangjf.com/back" charset="utf-8"></script>
	
	<script type="text/javascript">
		QC.Login({
		   btnId:"qqLoginBtn"    //插入按钮的节点id
		});
	</script>
  </body>
</html>