<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>想减肥_中国最专业的减肥瘦身网站</title>
    <meta content="想减肥，春季减肥，<%= post.tags? post.tags.join(','):"" %>" name="keywords">
    <meta content="<%= post.desc%>" name="description">
    <link href="http://resource.pipikou.com/b/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/css/xiangjf.css" rel="stylesheet" />
    <script src="/js/jquery.js"></script>
</head>
<body>
    <% include module/indextop.html %>

    <div class="grid fn-clear">
        <div class="wrap fn-left">
            <div class="breadhead">
                <a href="#">主页</a> &gt;
                <a href="#">运动减肥</a> &gt;
                <label><%= post.title%></label>
            </div>
            <h3 class="entrytitle"><%= post.title%></h3>
            <div class="entryinfo">发表日期：<%= post.createDate%> | 作者：<%= post.author%> | 阅读次数： <%= post.readCount?post.readCount:0 %></div>
            <div class="entrydesc">
                <strong>导语：</strong>
                <%- post.desc%>
            </div>
            <div class="entry">
                <% if(page>1&&post.pageContent&&post.pageContent.length>0){%>
				<%- post.pageContent[page-2].data%>
                <%}else{%>
                    <%- post.content%>
                <%}%>
            </div>
            <% if(post.pageContent&&post.pageContent.length>0){
            var _p = post.pageContent.length+1;
            var _page = parseInt(page,10);
            %>
            <div class="entrypage">
				<ul class="pagelist">
					<li><a>共<%= _p %>页</a></li>
                    <% for(var j=1; j<=_p;j++){%>
                    <li <%if(j==_page){%> class="curr"<%}%>><a href="/detail_<%= post._id %>_<%= j %>"><%= j %></a></li>
                    <%}%>
				</ul>
			</div>
            <%}%>
        </div>
        <div class="side fn-right">
            <a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dvx2%2Ffr%2BN4I4cQipKwQzePCperVdZeJvipRe%2F8jaAHci5VBFTL4hn2bqfdrQ0Z%2FG7LzyWwQxzkU82EyOPYW1wwqidPceBBnMH8w6X54llwrw7%2FZO15Bhdwb0CYBEjBf0r%2BX0J8NM6NNe3guBJbDHkrvB0z8qlrv%2BjvNeCLM2njIAStfqdfGvHKIuy2hv73XxSwO2wFfd6wLshvwjcDI8OIV4SO%2BiNB2XAdW8trg1cjgVzaCLOd77iM%2FCYpLQg9TU8eR9gA%2BxpGGeyxz01ebaIdiR1WJWMesjMS6a9pmYsXdM%3D">
                <img src="http://gtms04.alicdn.com/tps/i4/T15ReQFBRcXXbTMG7M-440-180.jpg" width="290" />
            </a>
            <% include module/sidebar.html %>
        </div>

    </div>

    <% include module/footer.html %>
    
</body>
</html>
